* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna {
  flex-direction: column;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  gap: 0.5rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#close-sesion {
  height: 3rem;
  border-radius: 8px;
  width: 10rem;
  font-size: 1em;
  background-color: rgb(156, 29, 29);
}
