*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #232323;
    padding: 3rem 0rem;
}

button#addNote{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

button#addNote {
    --c:  #46312a;
    color: #fff;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button#addNote:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button#addNote:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  
  button#addNote {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .1em 1em;
    font-weight: bold;  
    border: none;
  }

  button#addNote{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

button#removeAll {
    --c:  #c23e3a;
    color: #fff;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button#removeAll:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button#removeAll:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  
  button#removeAll {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: .1em 1em;
    font-weight: bold;  
    border: none;
  }

  button#removeAll{
    position: absolute;
    top: 1rem;
    left: 1rem;
}


main {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.note {
    background-color: #fff9c4;
    border: 2px solid #795548;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding-bottom: 1rem;
    overflow: hidden;
  }
  
  .note header {
    background-color: #795548;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }
  
  .note button {
    border-radius: 50%;
    border: 1px solid #795548;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .note button.delete {
    background-color: #f44336;
    margin-right: 5px;
    background-image: url("icons/eliminar.png");
    background-size: .7rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .note button.enable {
    background-color: #4caf50;
    margin-left: 5px;
    background-image: url("icons/escribir.png");
    background-size: .7rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  .note button.active{
    background-color: #afa84c;
    background-image: url("icons/x.png");
  }

  
  .note textarea {
    background-color: white;
    border: 2px solid #795548;
    border-radius: 10px;
    padding: 10px;
    width: 260px;
    height: 140px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    resize: none;
  }
  